@page "/actors"
<div class="form-group mb-3">
    
    <label>Elige la opción a realizar</label>
    <br>
    <br>
    <a class="btn btn-info" href="actors/create">Agregar actor</a>
    <a class="btn btn-info" href="actors/edit/1">Editar actor</a>
    <a class="btn btn-info" href="actors/filter">Buscar actor</a>
</div>
@code{

}