@page "/"


<div class="jumbotron">
    
    @if (Movies ==null){
        <label><small class="text-muted">No se encontraron registros</small></label>
    }else{
        @foreach (var Item_movie in Movies){
            <div class="list-group mb-3">
                <div class="row">
                    <div class="col-md-3"><img src="@Item_movie.MovieImage" class="img-thumbnail" alt="" width="200px" height="200px"></div>
                    <div class="col-md-9">
                        <h5 class="text-center"><small class="text-muted">@Item_movie.MovieName</small></h5>
                    <blockquote class="blockquote text-center"> Descripción:<small class="text-muted">@Item_movie.MovieGender</small>
                        <br>
                        Precio:<small class="text-muted">@Item_movie.MovieSynopsis</small>
                    </blockquote>
                    </div> 
                </div>
            </div>
        }
    }
        
</div>
    
    
@code {
    public List<Movie> Movies{get{return GetMovies();}}
    private List<Movie>GetMovies()
        {
            return new List<Movie>()
            {
                new Movie(){ MovieName = "Kin",MovieGender = "Descripción de la pelicula ",MovieSynopsis = "Sinopsis de la pelicula",MovieImage = "/Images/Kin.PNG", CurrentDate= new DateTime(2021,10,10) },
                new Movie(){ MovieName = "Lamb",MovieGender = "Descripción de la pelicula ",MovieSynopsis = "Sinopsis de la pelicula",MovieImage = "/Images/Lamb.PNG", CurrentDate= new DateTime(2021,10,08)},
                new Movie(){ MovieName = "Mass",MovieGender = "Descripción de la pelicula ",MovieSynopsis = "Sinopsis de la pelicula",MovieImage = "/Images/mass.PNG", CurrentDate= new DateTime(2021,11,05)}, 
                new Movie(){ MovieName = "Titane",MovieGender = "Descripción de la pelicula ",MovieSynopsis = "Sinopsis de la pelicula",MovieImage = "/Images/Titane.PNG", CurrentDate= new DateTime(2021,10,16)}, 
                new Movie(){ MovieName = "Venom",MovieGender = "Descripción de la pelicula ",MovieSynopsis = "Sinopsis de la pelicula",MovieImage = "/Images/Venom.PNG", CurrentDate= new DateTime(2021,11,23)},};

            }
        }

    
}