<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ProjectMovies</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Actores">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Actores
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="actors">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CRUD Actores
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/categories/create">
                <span class="oi oi-plus" aria-hidden="true"></span> Categorias
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="movies/create">
                <span class="oi oi-plus" aria-hidden="true"></span> Crear pelicula
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="movies/filter">
                <span class="oi oi-plus" aria-hidden="true"></span> Buscador de peliculas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Practica I
            </NavLink>
        </li>
        
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="datatable">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tabla Peliculas
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
