<h6>Actores</h6>
    <div class="container-fluid">
        <div class="row mb-3">
    @foreach (var actor in Actors)
    {<div class="card-deck mb-3" style = "width: 18rem;">
        <div class="col md-4">
        <div class="card">
            <img class="card-img-top " src="@actor.Photo" alt="Card image cap" width="30" height="400" >
            <div class="card-body">
                <h2 class="card-title"><em>@actor.Name</em></h2>
                <small class="text-muted">
                    </small>
                    </div>
            </div>
        </div>
    </div>
    }
  </div>
</div>   

@code{
    [Parameter] public  List<Actor>Actors{get;set;}

    }
