@page "/datatable"
@using ProjectMovies.Client.Pages.Components
@inject ISeviceMovie movie

<DataTableComponent Movies ="Movies"></DataTableComponent>

<div class="d-grid gap-2">
<a class="btn btn-info " type="button" href="/movies/create">Agregar pelicula</a>
</div>

@code{
    private List<Movie>Movies;
    protected override void OnInitialized(){
        Movies = movie.GetMovies();
    }
}